/* Encuentra */
#encuentra {
  background-color: #17585d;
  width: 100%;
  height: auto;
}

.box-wine-encuentra{
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.box-wine-encuentra .back-hover{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.box-wine-encuentra:hover .back-hover{
  display: inline;
}